<a href="https://colab.research.google.com/github/morettitommaso/sql-exercises/blob/main/edb04_Foodmart_P1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Per favore, non modificate il codice di questa cella
#urldb='https://drive.google.com/uc?export=download&id=1AdEOuHUAROodt60z4JMs2qptTLHiPHqL' gdrive issue with splash screen
urldb='https://dl.dropboxusercontent.com/s/ax0358bwt4poscl/db04foodmart.db.pez?dl=0'
fn='db04foodmart.db.pez'
pwd='studymat3r1al!'

import sqlite3
import urllib
import urllib.request
import zipfile
import os

import pandas as pd
pd.set_option('display.max_colwidth', None) # -1
pd.set_option('display.max_rows', 100)
from IPython.display import display, HTML

def downloadDBFile(urlFile, localFileName, pwd=''):
  # Dowloading the .zip file into the colab remote computation facility

  print('Downloading db file')
  try:
    urllib.urlretrieve(urlFile, localFileName) # Works in Python2
    print('Python2 detected')
  except AttributeError:
    print('Python 3 detected')
    with urllib.request.urlopen(urlFile) as response: # Works in Python3
      data = response.read()
      fd=open(localFileName,'wb')
      fd.write(data)
    fd.close()
  print('Download Done')
  if localFileName.endswith('.zip'):
    zipFileName = localFileName
    localFileName = zipFileName[:-4]
    print('Unzipping the file content')
    with zipfile.ZipFile(zipFileName, 'r') as zip_ref:
      zip_ref.extractall(localFileName)
      print('File %s extracted' % localFileName)
  elif localFileName.endswith('.pez'):
    zipFileName = localFileName
    localFileName = zipFileName[:-4]
    print('Unzipping the password protected file content')
    print(zipFileName)
    with zipfile.ZipFile(zipFileName, 'r') as zip_ref:
      #zip_ref.extractall(localFileName, pwd=bytes(pwd,'utf-8')) # it messes up the paths with password encrypted files
      zip_ref.extract(localFileName, pwd=bytes(pwd,'utf-8')) # localFileName: the name of the file in the .zip archive
      print('File %s extracted' % localFileName)

  localFileName = os.path.abspath(localFileName)
  print('File saved in '+localFileName)
  return localFileName
  print('Unzipping the password protected file content')


dbFileFullPath = downloadDBFile(urldb, fn, pwd=pwd)

def rq(query, threshold=100): # eq is for Run Query
    conn = sqlite3.connect(dbFileFullPath)
    if query.replace(' ','').replace('\n','') == '':
      return
    try:
        res = pd.read_sql(query,conn)
        conn.close()
        nrecords=res.shape[0]
        if nrecords<=threshold:
          display(res)
          print("%d records returned" % (nrecords) )
          #HTML("<b> %d records returned </b>" % (nrecords) )
          #return res

        else:
          display(res.iloc[:threshold,:])
          print("Too many records in the result, returned only the first %d" % (threshold))
          #return res.iloc[:threshold,:]

    except (pd.io.sql.DatabaseError, Exception)  as dbe: # (sqlite3.DatabaseError , sqlite3.OperationalError)
        print('Error')
        print(type(dbe))
        print(dbe)

Downloading db file
Python 3 detected
Download Done
Unzipping the password protected file content
db04foodmart.db.pez
File db04foodmart.db extracted
File saved in /content/db04foodmart.db

# Database Foodmart

Foodmart è una catena di supermercati (fittizia), che opera negli Stati Uniti, Canada e Messico, è composta da punti vendita la cui tipologia spazia dai piccoli negozi a supermercati di ampie dimensioni. Il database contiene i dati delle vendite, delle spese dei clienti, dei costi e delle promozioni ... e tante altre informazioni, riferiti ad un arco temporale di alcuni anni.

Nel corso delle esercitazioni, analizzeremo prevalentemente la tabella **sales_fact_1998** (e le tabelle collegate) la quale contiene i dati delle vendite effettuate dai negozi della catena nell’anno 1998.

Ogni record della tabella sales_fact_1998 riporta i dati di un prodotto acquistato da una persona.

La tabella **sales_fact_1998** è composta dai seguenti attributi:

* product_id: foreign key che identifica il prodotto venduto
* time_id: foreign key che identifica il giorno in cui è avvenuta la vendita
* customer_id: foreign key che identifica il cliente
* promotion_id: foreign key che identifica l’eventuale promozione applicata
* store_id: foreign key che identifica il negozio in cui è avvenuta la vendita
* store_sales: prezzo unitario di vendita applicato
* store_cost: stima del costo unitario che il supermercato ha sostenuto per acquistare il prodotto, trasportarlo, …
* unit_sales: quantità di prodotto venduta

Del database foodmart fanno parte anche le tabelle elencate qui di seguito (tra parentesi le traduzioni in italiano):
* product (prodotti)
* product_class (classi di prodotti)
* store (negozi)
* time_by_day (informazioni sui giorni dell’anno)
* promotion (promozioni)
* customer (clienti)
* region (regione)

queste ultime tabelle contengono informazioni extra sulle vendite effettuate, per esempio le tipologie di prodotti venduti, il negozio che ha effettuato la vendita, i dati del cliente che ha effettuato l’acquisto, le date e così via. Le informazioni delle varie tabelle sono collegate alla tabella sales_fact_1998 e tra di loro per mezzo di chiavi. es.: product_id, time_id, ...

# Esercizi

Svolgete quanto richiesto nei punti seguenti.

# (EDB04) 1

Negli esercizi successivi utilizzeremo le seguenti tabelle: **sales_fact_1998**, **product**, **produc_class**, **store**, **time_by_day**, **promotion**, **customer**, **region**

Scrivete su un foglio di carta il nome di queste tabelle, per ogni tabella individuate (se presenti):

* la chiave primaria (o le chiavi primarie se più attributi sono coinvolti)

* i collegamenti con le altre tabelle (individuate cioè le foreign key). Suggerimento: tracciate delle frecce per collegare le foreign key con le corrispondenti chiavi primarie

Questo foglio sarà utilizzato negli esercizi successivi.

NB: L'obiettivo di questo esercizio è duplice: da un lato dovete imparare a costruire (velocemente) uno schema logico del database in assenza di documentazione. Dall'altro, lo scrivere le tabelle e le chiavi su carta, servirà a voi solo come riferimento per svolgere gli esercizi indicati di seguito. Vi suggeriamo di impiegare un tempo adeguato per questo task, ma senza andare oltre i 10 minuti.

In [2]:
rq("""
select * from sales_fact_1998 limit 10;
""")

,product_id,time_id,customer_id,promotion_id,store_id,store_sales,store_cost,unit_sales
0,173,748,2094,54,1,4.29,1.8447,3
1,1119,748,2094,54,1,9.51,3.5187,3
2,1242,748,2094,54,1,7.92,2.8512,4
3,460,748,2094,54,1,6.44,2.7048,4
4,104,748,2094,54,1,11.67,3.9678,3
5,27,748,2094,54,1,7.95,3.8160,3
6,67,748,1277,54,1,7.44,2.9016,4
7,217,748,1277,54,1,2.72,0.8432,4
8,666,748,1745,54,1,2.67,1.3350,3
9,1122,748,1745,54,1,2.22,0.7770,3

10 records returned

# (EDB04) 2

Che informazioni memorizza la tabella time_by_day? Qual è la sua utilità? Come è collegata a sales_fact_1998?

Scrivete la vostra risposta in questa cella (doppio click per entrare in modalità editing)

In [3]:
# Potete usare questa cella per interrogare la tabella time_by_day.
# Si consiglia di limitare la visualizzazione ai primi 10 record
rq("""
SELECT *
FROM time_by_day
limit 10;
""")

,time_id,the_date,the_day,the_month,the_year,day_of_month,week_of_year,month_of_year,quarter,fiscal_period
0,738,1998-01-07 00:00:00,Wednesday,January,1998,7,4,1,Q1,None
1,739,1998-01-08 00:00:00,Thursday,January,1998,8,4,1,Q1,None
2,740,1998-01-09 00:00:00,Friday,January,1998,9,4,1,Q1,None
3,741,1998-01-10 00:00:00,Saturday,January,1998,10,4,1,Q1,None
4,742,1998-01-11 00:00:00,Sunday,January,1998,11,5,1,Q1,None
5,743,1998-01-12 00:00:00,Monday,January,1998,12,5,1,Q1,None
6,744,1998-01-13 00:00:00,Tuesday,January,1998,13,5,1,Q1,None
7,745,1998-01-14 00:00:00,Wednesday,January,1998,14,5,1,Q1,None
8,746,1998-01-15 00:00:00,Thursday,January,1998,15,5,1,Q1,None
9,747,1998-01-16 00:00:00,Friday,January,1998,16,5,1,Q1,None

10 records returned

# (EDB04) 3

Visualizzate product_id, nome prodotto e la data delle vendite contenute nella tabella sales_fact_1998.

La data deve essere visualizzata in un formato nel quale si riesca a distinguere giorno, mese e anno;

Il nome del prodotto e la data vanno recuperate da tabelle diversa da sales_fact_1998.

I risultati devono essere ordinati per data e per nome prodotto.

Limitate la visualizzazione ai primi 20 record (limit 20 in fondo alla query)

Nota: la prima riga del risultato dovrebbe essere: 1006; American Foot-Long Hot Dogs; 1998-01-01 00:00:00.

In [6]:
rq("""

SELECT sf.product_id,
      p.product_name,
      t.the_date

FROM sales_fact_1998 AS sf,
      product AS p,
      time_by_day AS t

WHERE (sf.product_id = p.product_id)
      AND (sf.time_id = t.time_id)

ORDER BY the_date, product_name
limit 20;
""")

    product_id                         product_name             the_date
0         1006          American Foot-Long Hot Dogs  1998-01-01 00:00:00
1         1464                            Amigo Lox  1998-01-01 00:00:00
2          571           Atomic White Chocolate Bar  1998-01-01 00:00:00
3          932                   BBB Best Apple Jam  1998-01-01 00:00:00
4          921                  BBB Best Canola Oil  1998-01-01 00:00:00
5          936  BBB Best Extra Chunky Peanut Butter  1998-01-01 00:00:00
6          910                  BBB Best Sesame Oil  1998-01-01 00:00:00
7          228          Best Choice Cheese Crackers  1998-01-01 00:00:00
8          248              Best Choice Dried Dates  1998-01-01 00:00:00
9          236               Best Choice Fondue Mix  1998-01-01 00:00:00
10         252           Best Choice Frosted Donuts  1998-01-01 00:00:00
11         240            Best Choice Low Fat Chips  1998-01-01 00:00:00
12         231          Best Choice Low Fat Popcorn  1998-01-01 00:00:00
13         225             Best Choice Potato Chips  1998-01-01 00:00:00
14         249                  Best Choice Raisins  1998-01-01 00:00:00
15         249                  Best Choice Raisins  1998-01-01 00:00:00
16         246     Best Choice Raspberry Fruit Roll  1998-01-01 00:00:00
17         246     Best Choice Raspberry Fruit Roll  1998-01-01 00:00:00
18         323                         Best Oatmeal  1998-01-01 00:00:00
19         342            Better Canned Tuna in Oil  1998-01-01 00:00:00

20 records returned

# (EDB04) 4

Per ogni record della tabella sales_fact_1998 visualizzate il time_id, il product_id, le quantità vendute, il ricavo unitario, il costo unitario e il guadagno conseguito.

Vi ricordiamo che: **guadagno=(ricavo_unitario - costo_unitario) * quantità**. Si ricorda che nella tabella sales_fact_1998 gli attributi **store_sales**, **store_cost** e **unit_sales** rappresentano rispettivamente: **ricavo_unitario**, **costo_unitario** e **quantità_vendute**.

Ordinate il risultato in base al time_id e al product_id. Vi suggeriamo di limitare l'output ai primi 10 record


Nota: la prima riga di risultato dovrebbe essere: product_id 4, unit_sales 3, guadagno 18.0180

In [10]:
rq("""

SELECT time_id,
      product_id,
      unit_sales,
      store_sales,
      store_cost,
      (store_sales-store_cost)*unit_sales

FROM sales_fact_1998

ORDER BY time_id, product_id
limit 10;

""")

,time_id,product_id,unit_sales,store_sales,store_cost,(store_sales-store_cost)*unit_sales
0,732,4,3,10.92,4.9140,18.0180
1,732,11,3,10.53,4.9491,16.7427
2,732,12,3,4.62,2.0790,7.6230
3,732,14,2,3.86,1.4282,4.8636
4,732,16,3,11.49,5.1705,18.9585
5,732,23,3,5.25,1.6800,10.7100
6,732,46,3,10.32,4.1280,18.5760
7,732,50,4,15.80,7.7420,32.2320
8,732,56,4,2.84,1.1360,6.8160
9,732,59,3,4.20,1.6380,7.6860

10 records returned

# (EDB04) 5

Visualizzate l’elenco dei prodotti venduti nel corso dell’anno. Nella tabella risultato deve apparire l’id e il nome per esteso del prodotto.

Ogni prodotto anche se venduto più volte deve apparire una sola volta nel risultato. (dovete usare la clausola GROUP BY).

I prodotti devono essere mostrati in ordine crescente rispetto al nome.

Nota, la prima riga di risultato dovrebbe essere: 351; ADJ Rosy Sunglasses

In [3]:
rq("""

SELECT sf.product_id,
      p.product_name

FROM sales_fact_1998 AS sf,
      product AS p

WHERE sf.product_id = p.product_id

GROUP BY sf.product_id
ORDER BY p.product_name;

""")

    product_id                         product_name
0          351                  ADJ Rosy Sunglasses
1          664                       Akron City Map
2          663           Akron Eyeglass Screwdriver
3         1003                American Beef Bologna
4         1001            American Chicken Hot Dogs
5         1008                   American Cole Slaw
6         1010                 American Corned Beef
7         1006          American Foot-Long Hot Dogs
8         1004             American Low Fat Bologna
9         1007           American Low Fat Cole Slaw
10        1002                American Pimento Loaf
11        1013                American Potato Salad
12        1009             American Roasted Chicken
13        1014              American Sliced Chicken
14        1012                  American Sliced Ham
15        1011               American Sliced Turkey
16        1005             American Turkey Hot Dogs
17        1464                            Amigo Lox
18        1465                       Amigo Scallops
19         660          Applause Canned Mixed Fruit
20         661              Applause Canned Peaches
21         568                    Atomic Bubble Gum
22         566             Atomic Malted Milk Balls
23         565            Atomic Mint Chocolate Bar
24         570                         Atomic Mints
25         567      Atomic Semi-Sweet Chocolate Bar
26         569                   Atomic Spicy Mints
27         564               Atomic Tasty Candy Bar
28         571           Atomic White Chocolate Bar
29         928                BBB Best Apple Butter
30         932                   BBB Best Apple Jam
31         930                 BBB Best Apple Jelly
32         937             BBB Best Apple Preserves
33         913                 BBB Best Brown Sugar
34         921                  BBB Best Canola Oil
35         911        BBB Best Chunky Peanut Butter
36         923            BBB Best Columbian Coffee
37         919                    BBB Best Corn Oil
38         934        BBB Best Creamy Peanut Butter
39         916                BBB Best Decaf Coffee
40         936  BBB Best Extra Chunky Peanut Butter
41         915         BBB Best French Roast Coffee
42         931                   BBB Best Grape Jam
43         938                 BBB Best Grape Jelly
44         922             BBB Best Grape Preserves
45         912               BBB Best Hot Chocolate
46         926        BBB Best Low Fat Apple Butter
47         929                     BBB Best Oregano
48         925                      BBB Best Pepper
49         917              BBB Best Regular Coffee
50         927                        BBB Best Salt
51         910                  BBB Best Sesame Oil
52         933              BBB Best Strawberry Jam
53         924            BBB Best Strawberry Jelly
54         935        BBB Best Strawberry Preserves
55         920                BBB Best Tomato Sauce
56         918               BBB Best Vegetable Oil
57         914                 BBB Best White Sugar
58         244         Best Choice Apple Fruit Roll
59         233              Best Choice Avocado Dip
60         218         Best Choice BBQ Potato Chips
61         238               Best Choice Beef Jerky
62         229         Best Choice Buttered Popcorn
63         228          Best Choice Cheese Crackers
64         235               Best Choice Cheese Dip
65         222   Best Choice Chocolate Chip Cookies
66         239         Best Choice Chocolate Donuts
67         219               Best Choice Corn Chips
68         243             Best Choice Dried Apples
69         251           Best Choice Dried Apricots
70         248              Best Choice Dried Dates
71         236               Best Choice Fondue Mix
72         242          Best Choice Frosted Cookies
73         252           Best Choice Frosted Donuts
74         224           Best Choice Fudge Brownies
75         223            Best Choice Fudge Cookies
76         250           Best Choice Golden Raisins
77         227          Best Choice Graham Crackers
78         247         Best Choice Grape Fruit Roll
79         226            Best Choice Lemon Cookies
80         220        Best Choice Low Fat BBQ Chips
81         240            Best Choice Low Fat Chips
82         217          Best Choice Low Fat Cookies
83         231          Best Choice Low Fat Popcorn
84         237              Best Choice Mini Donuts
85         230          Best Choice No Salt Popcorn
86         225             Best Choice Potato Chips
87         249                  Best Choice Raisins
88         246     Best Choice Raspberry Fruit Roll
89         232                Best Choice Salsa Dip
90         234          Best Choice Salted Pretzels
91         241          Best Choice Sesame Crackers
92         245    Best Choice Strawberry Fruit Roll
93         221            Best Choice Sugar Cookies
94         324                      Best Corn Puffs
95         326                           Best Grits
96         323                         Best Oatmeal
97         325                     Best Wheat Puffs
98         338                     Better Beef Soup
99         327                  Better Canned Beets

Too many records in the result, returned only the first 100

# (EDB04) 6

Per ogni prodotto, calcolate il totale dei costi di acquisto di tutte le vendite (ogni prodotto anche se venduto più volte, deve apparire una sola volta nella tabella risultato);

costo di una singola vendita = costo_unitario * qt_venduta.

Nel risultato va visualizzato il nome del prodotto.

Nota, nel risultato ci sarà: product_id 1, Washington Berry Juice; totale costi acquisto 519.7545

In [7]:
rq("""

SELECT p.product_name,
      sf.product_id,
      SUM(sf.store_cost * sf.unit_sales) AS COSTO_TOT

FROM sales_fact_1998 AS sf,
      product AS p

WHERE sf.product_id = p.product_id

GROUP BY sf.product_id;

""")

                         product_name  product_id  COSTO_TOT
0              Washington Berry Juice           1   519.7545
1              Washington Mango Drink           2   260.0952
2         Washington Strawberry Drink           3   277.3362
3               Washington Cream Soda           4  1366.4560
4                Washington Diet Soda           5   824.2941
5                     Washington Cola           6   486.6570
6                Washington Diet Cola           7   881.3448
7             Washington Orange Juice           8   906.6036
8          Washington Cranberry Juice           9   945.2036
9              Washington Apple Juice          10   477.2620
10             Washington Apple Drink          11  1269.8127
11                    Jeffers Oatmeal          12   697.7740
12                 Jeffers Corn Puffs          13   969.0255
13                Jeffers Wheat Puffs          14   734.9247
14                      Jeffers Grits          15  1029.4237
15            Blue Label Canned Beets          16  1472.2137
16            Blue Label Creamed Corn          17  1193.4884
17     Blue Label Canned String Beans          18  1057.2666
18            Blue Label Chicken Soup          19  1431.7358
19             Blue Label Canned Yams          20  1166.5714
20          Blue Label Vegetable Soup          21   956.3485
21          Blue Label Canned Tomatos          22   922.5952
22             Blue Label Noodle Soup          23   800.7825
23      Blue Label Regular Ramen Soup          24   772.9121
24     Blue Label Chicken Noodle Soup          25   649.8995
25      Blue Label Turkey Noodle Soup          26   396.3432
26               Blue Label Beef Soup          27  1177.7925
27             Blue Label Canned Peas          28  1712.0326
28      Blue Label Chicken Ramen Soup          29   816.4504
29    Blue Label Canned Tuna in Water          30   620.2449
30      Blue Label Canned Tuna in Oil          31   577.4990
31     Blue Label Large Canned Shrimp          32  1280.3076
32  Blue Label Fancy Canned Anchovies          33   512.9512
33      Blue Label Fancy Canned Clams          34   618.8611
34    Blue Label Fancy Canned Oysters          35   937.3273
35   Blue Label Fancy Canned Sardines          36   632.1240
36               Blue Label Rice Soup          37   563.8935
37    Green Ribbon Canned Mixed Fruit          38   615.9489
38        Green Ribbon Canned Peaches          39  1175.6111
39               King Rosy Sunglasses          40   315.8001
40         Queen Eyeglass Screwdriver          41   342.6945
41                     Queen City Map          42   931.0230
42        Club Low Fat Cottage Cheese          43   617.7831
43            Club Low Fat Sour Cream          44  1119.0842
44                    Club Sour Cream          45   218.0314
45                   Club Jack Cheese          46  1398.1536
46               Club Muenster Cheese          47  1092.3528
47                 Club String Cheese          48   751.3420
48         Club Low Fat String Cheese          49  1227.5822
49                Club Havarti Cheese          50  1472.4020
50                   Club Head Cheese          51   557.0565
51                 Club Cheese Spread          52   968.4927
52          Club Sharp Cheddar Cheese          53  1415.4810
53           Club Mild Cheddar Cheese          54  1241.9391
54     Club Large Curd Cottage Cheese          55  1179.8150
55                       Club 2% Milk          56   283.3539
56                    Club Buttermilk          57   268.9978
57                Club Chocolate Milk          58   885.6540
58                       Club 1% Milk          59   582.5400
59                    Club Whole Milk          60   892.4300
60             Club Strawberry Yogurt          61   285.5956
61              Club Blueberry Yogurt          62  1539.5746
62         Red Spade Chicken Hot Dogs          63   935.6220
63             Red Spade Pimento Loaf          64   541.3625
64             Red Spade Beef Bologna          65  1524.6424
65          Red Spade Low Fat Bologna          66  1515.6640
66          Red Spade Turkey Hot Dogs          67   758.0802
67       Red Spade Foot-Long Hot Dogs          68  1301.5716
68        Red Spade Low Fat Cole Slaw          69  1288.6700
69                Red Spade Cole Slaw          70   436.1411
70          Red Spade Roasted Chicken          71   974.8044
71              Red Spade Corned Beef          72  1200.8050
72            Red Spade Sliced Turkey          73   905.3914
73               Red Spade Sliced Ham          74   704.2078
74             Red Spade Potato Salad          75   265.9344
75           Red Spade Sliced Chicken          76   718.4021
76        Blue Medal Small Brown Eggs          77  1123.8640
77        Blue Medal Large Brown Eggs          78   983.3976
78              Blue Medal Small Eggs          79   576.6552
79              Blue Medal Large Eggs          80  1417.6239
80          Blue Medal Egg Substitute          81   861.6063
81             Golden Low Fat Waffles          82  1015.5780
82            Golden Orange Popsicles          83  1701.8068
83       Golden Frozen Chicken Breast          84   982.8818
84             Golden Frozen Pancakes          85   613.1288
85        Golden Low Fat French Fries          86  1373.4765
86        Golden Frozen Sausage Pizza          87   734.1966
87           Golden Blueberry Waffles          88   396.3138
88         Golden Fajita French Fries          89   594.6600
89                     Golden Waffles          90   298.3981
90      Golden Frozen Pepperoni Pizza          91   942.4756
91         Golden Frozen Cheese Pizza          92   384.0078
92       Golden Frozen Mushroom Pizza          93   430.5408
93      Golden Apple Cinnamon Waffles          94   267.5114
94              Golden Frozen Carrots          95   777.9902
95            Golden Turkey TV Dinner          96   784.7723
96           Golden Chicken TV Dinner          97   284.2856
97              Golden Beef TV Dinner          98   769.3503
98                 Golden Pancake Mix          99  1158.4060
99             Golden Grape Popsicles         100   804.9795

Too many records in the result, returned only the first 100

# (EDB04) 7

Per ogni prodotto calcolate il totale dei guadagni (ogni prodotto anche se venduto più volte, deve apparire una sola volta).

Nel risultato va visualizzato il nome del prodotto. Il guadagno associato ad una singola vendita può essere calcolato con la formula (ricavo_unitario – costo_unitario)*qt_venduta.

Nota, il prodotto con product_id 12 ha questi dati: Jeffers Oatmeal; 1017.78600000

In [10]:
rq("""

SELECT p.product_name,
      sf.product_id,
      SUM( (sf.store_sales - sf.store_cost) * sf.unit_sales) AS RICAVO_TOT

FROM sales_fact_1998 AS sf

JOIN product AS p
    ON sf.product_id = p.product_id

GROUP BY sf.product_id;

""")

                         product_name  product_id  RICAVO_TOT
0              Washington Berry Juice           1    785.5455
1              Washington Mango Drink           2    409.6048
2         Washington Strawberry Drink           3    424.8438
3               Washington Cream Soda           4   1953.2240
4                Washington Diet Soda           5   1205.8359
5                     Washington Cola           6    695.5430
6                Washington Diet Cola           7   1391.9652
7             Washington Orange Juice           8   1346.6964
8          Washington Cranberry Juice           9   1377.9964
9              Washington Apple Juice          10    721.2180
10             Washington Apple Drink          11   1927.7973
11                    Jeffers Oatmeal          12   1017.7860
12                 Jeffers Corn Puffs          13   1463.6745
13                Jeffers Wheat Puffs          14   1110.1553
14                      Jeffers Grits          15   1510.1863
15            Blue Label Canned Beets          16   2093.5163
16            Blue Label Creamed Corn          17   1697.8416
17     Blue Label Canned String Beans          18   1551.3234
18            Blue Label Chicken Soup          19   2195.2942
19             Blue Label Canned Yams          20   1694.0486
20          Blue Label Vegetable Soup          21   1427.2415
21          Blue Label Canned Tomatos          22   1390.3048
22             Blue Label Noodle Soup          23   1187.2175
23      Blue Label Regular Ramen Soup          24   1162.9579
24     Blue Label Chicken Noodle Soup          25    993.1005
25      Blue Label Turkey Noodle Soup          26    574.2968
26               Blue Label Beef Soup          27   1700.1075
27             Blue Label Canned Peas          28   2436.4774
28      Blue Label Chicken Ramen Soup          29   1164.6896
29    Blue Label Canned Tuna in Water          30    923.7051
30      Blue Label Canned Tuna in Oil          31    842.3010
31     Blue Label Large Canned Shrimp          32   1765.5924
32  Blue Label Fancy Canned Anchovies          33    798.0888
33      Blue Label Fancy Canned Clams          34    915.6589
34    Blue Label Fancy Canned Oysters          35   1358.8627
35   Blue Label Fancy Canned Sardines          36    969.8760
36               Blue Label Rice Soup          37    835.3065
37    Green Ribbon Canned Mixed Fruit          38    884.0011
38        Green Ribbon Canned Peaches          39   1682.4789
39               King Rosy Sunglasses          40    481.1499
40         Queen Eyeglass Screwdriver          41    505.4755
41                     Queen City Map          42   1409.5770
42        Club Low Fat Cottage Cheese          43    918.6169
43            Club Low Fat Sour Cream          44   1608.7458
44                    Club Sour Cream          45    318.8586
45                   Club Jack Cheese          46   2224.1664
46               Club Muenster Cheese          47   1647.2672
47                 Club String Cheese          48   1117.3780
48         Club Low Fat String Cheese          49   1919.1978
49                Club Havarti Cheese          50   2078.6480
50                   Club Head Cheese          51    821.8035
51                 Club Cheese Spread          52   1396.8073
52          Club Sharp Cheddar Cheese          53   2180.0790
53           Club Mild Cheddar Cheese          54   1860.9309
54     Club Large Curd Cottage Cheese          55   1760.1850
55                       Club 2% Milk          56    425.9361
56                    Club Buttermilk          57    386.7522
57                Club Chocolate Milk          58   1320.3960
58                       Club 1% Milk          59    838.4600
59                    Club Whole Milk          60   1288.7700
60             Club Strawberry Yogurt          61    442.5644
61              Club Blueberry Yogurt          62   2391.2054
62         Red Spade Chicken Hot Dogs          63   1462.7280
63             Red Spade Pimento Loaf          64    823.9175
64             Red Spade Beef Bologna          65   2310.5576
65          Red Spade Low Fat Bologna          66   2168.5760
66          Red Spade Turkey Hot Dogs          67   1113.0798
67       Red Spade Foot-Long Hot Dogs          68   2012.7884
68        Red Spade Low Fat Cole Slaw          69   1823.7300
69                Red Spade Cole Slaw          70    654.1389
70          Red Spade Roasted Chicken          71   1478.8356
71              Red Spade Corned Beef          72   1681.6750
72            Red Spade Sliced Turkey          73   1415.2886
73               Red Spade Sliced Ham          74   1032.2122
74             Red Spade Potato Salad          75    409.9856
75           Red Spade Sliced Chicken          76   1078.0679
76        Blue Medal Small Brown Eggs          77   1704.1360
77        Blue Medal Large Brown Eggs          78   1425.6024
78              Blue Medal Small Eggs          79    864.7848
79              Blue Medal Large Eggs          80   2088.9561
80          Blue Medal Egg Substitute          81   1302.4737
81             Golden Low Fat Waffles          82   1490.0220
82            Golden Orange Popsicles          83   2523.5132
83       Golden Frozen Chicken Breast          84   1433.7182
84             Golden Frozen Pancakes          85    927.7512
85        Golden Low Fat French Fries          86   2080.6335
86        Golden Frozen Sausage Pizza          87   1060.0434
87           Golden Blueberry Waffles          88    587.5262
88         Golden Fajita French Fries          89    868.1400
89                     Golden Waffles          90    438.4919
90      Golden Frozen Pepperoni Pizza          91   1370.3644
91         Golden Frozen Cheese Pizza          92    575.4722
92       Golden Frozen Mushroom Pizza          93    637.9392
93      Golden Apple Cinnamon Waffles          94    412.6286
94              Golden Frozen Carrots          95   1150.6698
95            Golden Turkey TV Dinner          96   1145.8777
96           Golden Chicken TV Dinner          97    423.1244
97              Golden Beef TV Dinner          98   1199.7297
98                 Golden Pancake Mix          99   1753.8340
99             Golden Grape Popsicles         100   1166.4705

Too many records in the result, returned only the first 100

# (EDB04) 8

Ordinate l’elenco del punto precedente in ordine decrescente in base al guadagno.

Nota, i dati del prodotto che ha fatto guadagnare di più sono: product_id 274, Great Pumpernickel Bread, gudadagno 3166.3214

In [11]:
rq("""

SELECT p.product_name,
      sf.product_id,
      SUM( (sf.store_sales - sf.store_cost) * sf.unit_sales) AS RICAVO_TOT

FROM sales_fact_1998 AS sf

JOIN product AS p
    ON sf.product_id = p.product_id

GROUP BY sf.product_id
ORDER BY RICAVO_TOT DESC;

""")

                             product_name  product_id  RICAVO_TOT
0                Great Pumpernickel Bread         274   3166.3214
1        Super Extra Chunky Peanut Butter         309   2988.5634
2                 Horatio Frosted Cookies        1180   2971.0200
3                    High Top New Potatos         175   2969.1200
4                  Hilltop Mint Mouthwash        1380   2961.5582
5   Even Better Large Curd Cottage Cheese         993   2946.4235
6               Fabulous Strawberry Drink         941   2924.2640
7                     Better Chicken Soup         330   2908.2258
8                   Horatio Low Fat Chips        1178   2886.8616
9                        Modell Rye Bread        1525   2881.2009
10            Carrington Turkey TV Dinner        1345   2878.2752
11              Carlson Strawberry Yogurt         372   2876.0674
12                        Great Rye Bread         276   2838.6440
13                  Horatio Fudge Cookies        1161   2833.8024
14                Moms Foot-Long Hot Dogs         379   2827.1705
15             Fort West BBQ Potato Chips        1467   2817.9276
16                  Hermanos Green Pepper        1428   2812.4346
17         Nationeel Raspberry Fruit Roll         868   2804.7510
18                Horatio No Salt Popcorn        1168   2802.0082
19                 Imagine Frozen Carrots         717   2799.5464
20                       Denny Frying Pan         155   2786.9007
21                  Horatio Sugar Cookies        1159   2783.0250
22                    Carlson Head Cheese         362   2782.6921
23                      Imagine Popsicles         731   2777.3757
24                    Medalist Rice Medly         265   2766.5596
25               Booker Strawberry Yogurt        1310   2766.4980
26                Big Time Beef TV Dinner         409   2765.7385
27             Tell Tale Fresh Lima Beans         502   2737.9290
28                   Thresher Spicy Mints         880   2704.3580
29                    Skinner Mango Drink        1251   2704.0814
30              Golden Frozen Cauliflower         105   2695.0656
31                Red Wing Plastic Knives         446   2694.3375
32           Gerolli Extra Lean Hamburger        1413   2691.4940
33                   Cormorant Paper Cups         762   2681.7230
34             Even Better Havarti Cheese         988   2680.5333
35                        Hermanos Lemons        1448   2672.3050
36                     Denny Paper Towels         148   2669.6470
37                        Carlson 2% Milk         367   2652.4349
38               High Top Corn on the Cob         172   2650.6548
39                   Super Strawberry Jam         306   2632.9644
40                      Great White Bread         275   2631.1074
41              Good White Zinfandel Wine         272   2630.3743
42                Denny 75 Watt Lightbulb         141   2625.2793
43         Consolidated Childrens Aspirin         744   2622.3197
44                     Medalist Spaghetti         263   2621.7340
45         Faux Products Buffered Aspirin         123   2619.1104
46                  Portsmouth Light Beer        1211   2615.7064
47                 Giant Large Brown Eggs        1327   2611.3536
48          Cormorant Copper Pot Scrubber         781   2604.3535
49                    Tell Tale Cantelope         519   2599.7392
50                           Best Oatmeal         323   2598.6100
51       Carrington Frozen Mushroom Pizza        1342   2580.4886
52            Red Wing AAA-Size Batteries         449   2579.2731
53           PigTail Low Fat French Fries        1024   2556.0845
54                       Golden Popsicles         109   2554.1095
55     High Quality Scented Toilet Tissue        1091   2552.6980
56           Hilltop Conditioning Shampoo        1367   2552.4429
57                   Hermanos New Potatos        1424   2543.7678
58         Hilltop Extra Moisture Shampoo        1368   2541.5160
59        Big Time Apple Cinnamon Waffles         405   2540.0115
60              Nationeel Low Fat Popcorn         853   2538.3736
61                   Just Right Rice Soup         975   2532.5480
62                Golden Orange Popsicles          83   2523.5132
63                      Lake Potato Salad        1324   2521.1277
64          Gauss Monthly Sports Magazine        1415   2511.1540
65                        Super Apple Jam         305   2509.7526
66               BBB Best Apple Preserves         937   2500.4665
67                   Big Time Frozen Peas         419   2491.3245
68                  Gulf Coast Bubble Gum        1506   2487.6761
69                          Ebony Lettuce         803   2486.2383
70                      CDR Vegetable Oil        1540   2484.0992
71                     Bravo Chicken Soup         641   2481.7688
72          Consolidated 200 MG Ibuprofen         746   2477.9878
73                     Colossal Thai Rice        1202   2476.1324
74                      Lake Pimento Loaf        1313   2472.6576
75                           Plato Pepper        1236   2468.9512
76                     Fast Sugar Cookies         532   2466.5445
77                        Gorilla 2% Milk         678   2461.9311
78          Tri-State Red Delcious Apples        1136   2460.6843
79               Bravo Fancy Canned Clams         656   2460.6505
80                 Nationeel Potato Chips         847   2442.9696
81              Best Choice Sugar Cookies         221   2440.9638
82           Imagine Low Fat French Fries         708   2437.8528
83                 Blue Label Canned Peas          28   2436.4774
84                     Plato Tomato Sauce        1231   2432.7583
85               Hilltop 200 MG Ibuprofen        1373   2431.5840
86                     Horatio Corn Chips        1157   2426.8944
87               Denny 100 Watt Lightbulb         137   2426.4600
88                   Cormorant Frying Pan         777   2414.0940
89                       Medalist Ravioli         261   2412.7116
90            Golden Frozen Chicken Wings         111   2411.8488
91                       Gulf Coast Mints        1508   2409.1470
92                    Gorilla Jack Cheese         668   2407.2036
93        Gauss Monthly Computer Magazine        1417   2406.2816
94               High Top Dried Mushrooms         190   2398.8360
95                  Club Blueberry Yogurt          62   2391.2054
96                        Hermanos Onions        1427   2389.2909
97                          Super Oregano         302   2388.1935
98            High Quality Copper Cleaner        1094   2386.2592
99             Nationeel Apple Fruit Roll         866   2382.8674

Too many records in the result, returned only the first 100

#(EDB04) 9

Individuate i supermercati che hanno venduto più quantità di prodotti (create una elenco in ordine decrescente).

Nota, il primo della lista è: Store 12 con qt pari a 37680.0000

In [12]:
rq("""
SELECT st.store_name,
      SUM(sf.unit_sales) as QT_TOT

FROM sales_fact_1998 AS sf

JOIN store AS st
    ON sf.store_id = st.store_id

GROUP BY st.store_id
ORDER BY QT_TOT DESC;
""")

   store_name  QT_TOT
0    Store 12   37680
1     Store 8   37143
2    Store 19   36643
3    Store 17   35444
4    Store 13   35346
5    Store 21   34343
6    Store 15   26672
7    Store 16   26164
8    Store 11   25266
9    Store 10   24696
10   Store 24   24222
11    Store 3   24069
12    Store 7   24061
13    Store 4   23752
14    Store 1   23226
15    Store 6   22707
16    Store 9   10880
17   Store 18   10070
18   Store 23    9710
19   Store 20    9514
20   Store 22    2244
21    Store 5    2124
22   Store 14    2027
23    Store 2    1984

24 records returned

#(EDB04) 10

Individuate i supermercati che hanno venduto la minor quantità di prodotti. Visualizzate una lista in ordine crescente.

Nota, il primo della lista è: Store 2 con qt pari a 1984

In [13]:
rq("""
SELECT st.store_name,
      SUM(sf.unit_sales) as QT_TOT

FROM sales_fact_1998 AS sf

JOIN store AS st
    ON sf.store_id = st.store_id

GROUP BY st.store_id
ORDER BY QT_TOT;
""")

   store_name  QT_TOT
0     Store 2    1984
1    Store 14    2027
2     Store 5    2124
3    Store 22    2244
4    Store 20    9514
5    Store 23    9710
6    Store 18   10070
7     Store 9   10880
8     Store 6   22707
9     Store 1   23226
10    Store 4   23752
11    Store 7   24061
12    Store 3   24069
13   Store 24   24222
14   Store 10   24696
15   Store 11   25266
16   Store 16   26164
17   Store 15   26672
18   Store 21   34343
19   Store 13   35346
20   Store 17   35444
21   Store 19   36643
22    Store 8   37143
23   Store 12   37680

24 records returned

#(EDB04) 11

Individuate le tipologie di prodotto che hanno fatto guadagnare di più (per le tipologie fate riferimento all’attributo product_category della tabella product_class). Visualizzate i risultati in ordine decrescente.

Nota, la prima categoria è: Vegetables; 267508.5067

In [14]:
rq("""
SELECT pc.product_category,
      SUM( (sf.store_sales - sf.store_cost)*sf.unit_sales ) as RICAVO_TOT

FROM sales_fact_1998 AS sf

JOIN product AS p
    ON sf.product_id = p.product_id

JOIN product_class AS pc
    ON p.product_class_id = pc.product_class_id

GROUP BY pc.product_category
ORDER BY RICAVO_TOT DESC;
""")

        product_category   RICAVO_TOT
0             Vegetables  267508.5067
1            Snack Foods  258630.3575
2                  Dairy  141175.4869
3                   Meat  115581.0941
4                  Fruit  108791.4612
5       Jams and Jellies   88584.9492
6                  Bread   63948.7259
7             Electrical   62239.9086
8           Baking Goods   61038.5203
9        Breakfast Foods   60419.9306
10           Canned Soup   58347.5359
11        Paper Products   57683.3509
12                 Candy   55389.7975
13         Beer and Wine   54309.8813
14     Bathroom Products   51125.2453
15       Frozen Desserts   47901.3719
16         Starchy Foods   44515.1735
17             Specialty   39996.3999
18      Kitchen Products   37354.2578
19         Hot Beverages   34045.9046
20                  Eggs   33556.2204
21             Magazines   33534.2538
22        Pain Relievers   33307.8040
23     Cleaning Supplies   26353.1390
24                 Pizza   25870.4815
25      Plastic Products   25509.3542
26  Pure Juice Beverages   24874.1071
27  Carbonated Beverages   23157.7009
28                Drinks   22786.8532
29        Frozen Entrees   22296.2824
30               Hygiene   21737.5191
31              Hardware   21084.4858
32           Side Dishes   18169.8826
33               Seafood   12794.9933
34           Canned Tuna   12512.8740
35         Cold Remedies   12459.4438
36         Decongestants   11658.4787
37         Canned Shrimp    8477.7127
38      Canned Anchovies    8476.8982
39          Canned Clams    7240.0234
40   Packaged Vegetables    6972.1289
41        Canned Oysters    6967.1075
42         Miscellaneous    6534.1402
43       Canned Sardines    5602.8831
44               Candles    5574.7919

45 records returned

#(EDB04) 12

Individuate i prodotti più venduti (in termini di quantità), nella regione del ‘Central West’ (per la regione, fate riferimento all’attributo sales_region della tabella region).

Nota, il più venduto è: product_id 391, Urban Large Eggs, qt 10

In [19]:
rq("""

SELECT sf.product_id,
      SUM(sf.unit_sales) AS TOT_QT

FROM sales_fact_1998 AS sf

JOIN store AS st
  ON sf.store_id = st.store_id

JOIN region AS rg
  ON st.region_id = rg.region_id

WHERE rg.sales_region = "Central West"

GROUP BY sf.product_id
ORDER BY TOT_QT DESC


""")

    product_id  TOT_QT
0          391      10
1          377       8
2          584       7
3          850       7
4          977       7
5         1052       7
6          186       6
7          474       6
8          531       6
9          547       6
10         689       6
11         707       6
12         807       6
13         960       6
14         986       6
15        1035       6
16        1063       6
17        1256       6
18        1379       6
19          68       5
20          93       5
21         183       5
22         191       5
23         265       5
24         288       5
25         317       5
26         323       5
27         328       5
28         356       5
29         361       5
30         398       5
31         428       5
32         454       5
33         616       5
34         629       5
35         638       5
36         639       5
37         714       5
38         784       5
39         787       5
40         788       5
41         803       5
42         809       5
43         857       5
44         880       5
45         991       5
46        1065       5
47        1118       5
48        1134       5
49        1382       5
50        1421       5
51        1459       5
52        1470       5
53        1543       5
54          28       4
55          62       4
56          74       4
57         106       4
58         122       4
59         142       4
60         193       4
61         197       4
62         272       4
63         324       4
64         335       4
65         351       4
66         371       4
67         392       4
68         433       4
69         464       4
70         483       4
71         498       4
72         518       4
73         524       4
74         538       4
75         552       4
76         571       4
77         585       4
78         597       4
79         604       4
80         615       4
81         622       4
82         642       4
83         683       4
84         684       4
85         709       4
86         717       4
87         811       4
88         815       4
89         841       4
90         890       4
91         895       4
92         910       4
93         927       4
94         955       4
95         956       4
96         983       4
97        1016       4
98        1032       4
99        1051       4

Too many records in the result, returned only the first 100

#(EDB04) 13
Individuate i prodotti più venduti (in termini di quantità), negli USA (per la nazione fate riferimento all’attributo sales_country della tabella region).

Nota, il primo della lista è: product_id 876, Thresher Mint Chocolate Bar, qt 268

In [21]:
rq("""

SELECT sf.product_id,
      SUM(sf.unit_sales) AS TOT_QT

FROM sales_fact_1998 AS sf

JOIN store AS st
  ON sf.store_id = st.store_id

JOIN region AS rg
  ON st.region_id = rg.region_id

WHERE rg.sales_country = "USA"

GROUP BY sf.product_id
ORDER BY TOT_QT DESC


""")

    product_id  TOT_QT
0          876     268
1          277     255
2          319     250
3          386     247
4          426     242
5          655     239
6          717     237
7         1352     235
8          230     234
9          444     234
10        1416     233
11         239     232
12         309     232
13        1123     230
14         284     229
15         869     229
16        1161     228
17        1264     227
18        1380     227
19         345     226
20         274     225
21         435     225
22         351     223
23         820     223
24        1368     223
25         248     222
26         872     222
27         964     222
28        1191     222
29        1252     222
30         325     221
31         463     221
32         846     221
33         333     220
34        1085     220
35         140     219
36         382     219
37         305     218
38         408     218
39         754     218
40         780     218
41         879     218
42         470     217
43         755     217
44        1331     217
45        1525     216
46         502     215
47         663     215
48         884     215
49         278     214
50         440     214
51         492     214
52         692     214
53         999     214
54        1417     213
55         232     212
56         533     212
57         767     212
58         866     212
59        1285     212
60        1466     212
61         340     211
62         413     211
63        1297     211
64         460     210
65        1197     210
66        1310     210
67         636     209
68         836     209
69         948     209
70        1139     209
71        1377     209
72         250     208
73         330     208
74        1056     208
75         303     207
76         678     207
77        1243     207
78        1333     207
79         313     206
80         885     206
81         946     206
82        1100     206
83        1245     206
84        1411     206
85         223     205
86         316     205
87         376     205
88         486     205
89         531     205
90         841     205
91         932     205
92        1052     205
93        1172     205
94        1367     205
95         374     204
96         626     204
97         753     204
98         817     204
99         829     204

Too many records in the result, returned only the first 100

#(EDB04) 14

Calcolate il guadagno totale di tutti i prodotti venduti nei mesi di aprile e maggio 1998.

Nota: risultato 377409.6824

In [24]:
rq("""

SELECT SUM( (sf.store_sales - sf.store_cost) * sf.unit_sales ) AS RICAVO_TOT

FROM sales_fact_1998 AS sf

JOIN time_by_day AS tm
  ON tm.time_id = sf.time_id

WHERE (tm.month_of_year = 4 OR tm.month_of_year = 5);
""")

    RICAVO_TOT
0  377409.6824

1 records returned

#(EDB04) 15

Individuate i clienti che hanno speso di meno in tutto il 1998 (è sufficiente visualizzare i clienti in ordine crescente rispetto alle spese effettuate).

Nota, cliente che ha speso meno: customer_id 2383

In [26]:
rq("""
SELECT sf.customer_id,
      SUM(store_sales*unit_sales) AS spesa_tot

FROM sales_fact_1998 AS sf

GROUP BY customer_id
ORDER BY spesa_tot;
""")

    customer_id  spesa_tot
0          2383       1.42
1          5885       1.69
2          8874       1.93
3         10023       2.11
4          8641       2.35
5          6255       2.41
6          7803       2.41
7          9994       2.53
8          6325       2.59
9          2386       2.62
10          713       2.70
11         2801       2.85
12         8984       2.88
13         6060       2.92
14         4760       2.94
15         2660       2.99
16         4931       3.35
17         5862       3.48
18          417       3.56
19         3623       3.78
20         4494       3.91
21         8868       3.92
22         4242       4.09
23         1810       4.18
24         9211       4.62
25         1300       4.65
26         7974       4.84
27          736       5.08
28         3126       5.10
29         9989       5.13
30         8079       5.13
31         2758       5.16
32         5749       5.18
33        10188       5.28
34          998       5.40
35         4833       5.44
36         9646       5.84
37         8335       6.03
38         6599       6.20
39         4014       6.24
40         1685       6.50
41         1011       6.64
42         8284       6.68
43         3217       6.77
44         2766       6.81
45          338       6.89
46         6223       7.00
47         8334       7.02
48         9361       7.11
49         8657       7.24
50         9763       7.31
51         6783       7.40
52         1640       7.44
53         7876       7.47
54         9008       7.47
55           27       7.52
56         9958       7.54
57         9828       7.71
58         3677       7.74
59         4660       8.05
60         4665       8.08
61         4487       8.11
62         8344       8.22
63         7944       8.25
64         8277       8.25
65         6185       8.29
66         3993       8.40
67        10197       8.52
68         3965       8.55
69         5328       8.60
70         1110       8.64
71         7233       8.76
72         5725       8.80
73         2474       8.88
74         1796       9.01
75          956       9.03
76         2010       9.03
77         5916       9.08
78         5567       9.24
79         4027       9.49
80         3453       9.56
81         1356       9.57
82         9506       9.57
83        10010       9.59
84          168       9.60
85         3222       9.60
86         8759       9.60
87         7438       9.63
88         1565       9.64
89         4268       9.64
90         3494       9.66
91        10092       9.66
92         7937       9.76
93         8207       9.80
94         7019       9.91
95         6955       9.92
96         3055      10.12
97         1945      10.15
98         2554      10.17
99         6953      10.30

Too many records in the result, returned only the first 100

#(EDB04) 16

Individuate i clienti che hanno speso di più in tutto il 1998 (è sufficiente visualizzare i clienti in ordine decrescente rispetto alle spese effettuate).

Nota, cliente che ha speso di più: customer_id 5466

In [27]:
rq("""
SELECT sf.customer_id,
      SUM(store_sales*unit_sales) AS spesa_tot

FROM sales_fact_1998 AS sf

GROUP BY customer_id
ORDER BY spesa_tot DESC;
""")

    customer_id  spesa_tot
0          5466    6303.24
1          7836    5836.34
2          4226    5760.66
3          1770    5720.30
4          4026    5655.51
5          7633    5407.04
6          4386    5095.81
7          4953    4970.48
8          4579    4759.52
9          1612    4745.41
10         1942    4704.12
11         6527    4685.11
12         1787    4627.47
13         2998    4481.69
14         1444    4461.46
15         6652    4416.07
16         9610    4336.27
17         6387    4280.72
18         1720    4206.89
19         4256    4198.13
20         5295    4197.55
21         1297    4168.67
22         7472    4165.29
23         4620    4154.79
24         5642    4149.66
25         1495    4137.03
26         9143    4130.64
27         5129    4107.26
28         6260    4105.97
29         3808    4103.56
30         8364    4098.56
31         5478    4072.64
32         7152    4064.76
33         6311    4039.71
34         4853    4003.39
35         5512    3992.81
36          850    3988.12
37         5559    3987.07
38         7134    3978.10
39         4174    3951.10
40         6193    3931.49
41         6033    3930.07
42         2175    3895.60
43         6934    3888.81
44         8452    3887.69
45         1259    3880.15
46         6912    3852.53
47         7016    3806.23
48         3495    3798.82
49         7069    3797.94
50         3753    3785.74
51         8279    3769.31
52         3858    3699.11
53         8355    3650.06
54          272    3639.75
55         3440    3628.80
56         4391    3570.34
57         4325    3559.82
58         7239    3555.44
59         1693    3549.00
60         4049    3547.65
61          789    3537.09
62         4676    3509.95
63         5114    3506.62
64         9480    3475.16
65         7782    3467.72
66         4871    3456.99
67         5348    3443.63
68         4771    3442.57
69         7793    3428.25
70         9790    3413.63
71         4727    3394.37
72         4780    3372.23
73         7063    3369.94
74         4009    3348.75
75         7711    3343.94
76         7812    3336.36
77          597    3330.89
78         1636    3318.06
79         6406    3312.77
80          728    3302.72
81         3210    3299.86
82         9868    3295.35
83         1930    3280.68
84         4914    3279.80
85         1425    3268.63
86         1871    3268.41
87         4021    3261.65
88         2446    3256.68
89         5102    3254.73
90         1853    3231.92
91         7261    3223.89
92          564    3213.28
93         7862    3192.17
94         5148    3181.37
95         2118    3172.21
96         4655    3166.95
97         8522    3153.16
98         6669    3137.99
99         8915    3134.27

Too many records in the result, returned only the first 100

#(EDB04) 17

Individuate la città (attributo sales_city della tabella region) nella quale sono stati incassati più soldi nel 1998 (l’incasso è l’equivalente del ricavo).

Effettuate il group by sull’attributo region.sales_city, non su region.region_id. Inoltre, tra gli attributi della tabella region visualizzate solamente l’attributo sales_city nel risultato finale (niente region_id, sales_district, ...).

Nota: Hidalgo con 336305.4600

In [30]:
rq("""
SELECT rg.sales_city,
      SUM((sf.store_sales)*sf.unit_sales) AS RICAVO_TOT

FROM sales_fact_1998 AS sf

JOIN store AS st
  ON st.store_id = sf.store_id

JOIN region AS rg
  ON rg.region_id = st.region_id

GROUP BY rg.sales_city
ORDER BY RICAVO_TOT DESC;
""")

       sales_city  RICAVO_TOT
0         Hidalgo   336305.46
1          Merida   265264.47
2       Vancouver   261187.75
3          Tacoma   251705.35
4           Salem   249343.36
5      San Andres   240343.31
6         Seattle   188940.70
7         Spokane   185139.48
8        Portland   179921.38
9       San Diego   174050.52
10        Orizaba   172919.87
11      Bremerton   169976.13
12    Los Angeles   169934.33
13        Camacho   167369.95
14       Acapulco   164537.21
15  Beverly Hills   158387.88
16    Mexico City    76719.89
17         Yakima    69533.43
18       Victoria    68089.59
19    Walla Walla     9207.41
20    Guadalajara     8006.61
21     Bellingham     7821.07
22  San Francisco     7798.46

23 records returned

# (EDB04) 18

Individuate le 5 sales_region in cui la catena di supermercati ha guadagnato di più.

Nota: risultato: North West, Mexico Central, South West, Canada West, Mexico South

In [32]:
rq("""
SELECT rg.sales_region,
      SUM((sf.store_sales-sf.store_cost)*sf.unit_sales) AS GUADAGNO_TOT

FROM sales_fact_1998 AS sf

JOIN store AS st
  ON st.store_id = sf.store_id

JOIN region AS rg
  ON rg.region_id = st.region_id

GROUP BY rg.sales_region
ORDER BY GUADAGNO_TOT DESC
limit 5;
""")

     sales_region  GUADAGNO_TOT
0      North West   786230.3148
1  Mexico Central   594823.0294
2      South West   300792.5516
3     Canada West   197158.2867
4    Mexico South   158989.1902

5 records returned